<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">     
    <form class="d-flex" >
      <div class="row">
          <div class="col m-1">
            <input type="text" class="form-control" [value]="Email" placeholder="Емейл">
          </div>
          <div class="col m-1">
            <input type="text" class="form-control" [value]="Password" placeholder="Пароль">
          </div>
      </div>
      <button class="btn btn-outline-primary m-1" (click)="logIn()" type="submit">Ввійти</button>
      <button class="btn btn-outline-primary m-1" type="submit">{{Email}}</button>
    </form>
</div>
