<div class="p-5">
    <div class="d-flex justify-content-between mb-4">
        <a routerLink="/webinar/add" class="ml-3"><button type="button" class="btn btn-primary rounded-lg">+</button></a>

        <form class="form-inline">
            <div class="form-group mb-2">
                <select [(ngModel)]="selectedSubject" name="subject" class="form-control form-control-sm">
                    <option value="">Предмет</option>
                    <option *ngFor="let item of subjects" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <select class="form-control form-control-sm" [(ngModel)]="orderType" name="orderBy">
                    <option value="newFirst">За новизною</option>
                    <option value="cheapestFirst">Найдешевші</option>
                    <option value="expensiveFirst">Найдорожчі</option>
                </select>
              </div>
        </form>
    </div>
    <div *ngFor="let webinar of webinars">
        <app-webinars-item [webinar]="webinar"></app-webinars-item>
    </div>
</div>