<div class="d-flex justify-content-center">
    <div class="user-data small-container">
        <div class="row">
            <div class="col">
                <div>Ім'я:</div>
            </div>
            <div class="col">
                <div>Богдан</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>Прізвище:</div>
            </div>
            <div class="col">
                <div>Богдан</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>Емейл:</div>
            </div>
            <div class="col">
                <div>Богдан</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>Вік:</div>
            </div>
            <div class="col">
                <div>20</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>Позиція:</div>
            </div>
            <div class="col">
                <div>ДЕВВВ</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>Баланс:</div>
            </div>
            <div class="col">
                <div>
                    10 грн. 
                    <button type="button" class="btn btn-primary">Вивести гроші</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>Курси:</p>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
            <div><a routerLink="/webinars">Angular розробка</a></div>
            <div>Активний</div>
        </div>
        <div class="d-flex justify-content-between">
            <div><a routerLink="/webinars">Angular розробка</a></div>
            <div>Активний</div>
        </div>
        <div class="d-flex justify-content-between">
            <div><a routerLink="/webinars">Angular розробка</a></div>
            <div>12.5.2021</div>
        </div>
    </div>

    <div class="form-group row d-flex flex-row-reverse mt-5 mr-2">
        <button type="submit" class="btn btn-primary">Вийти</button>
      </div>
</div>