<div class="d-flex justify-content-center">
    <div class="user-data small-container">
        <div class="row my-3">
            <div class="col">
                <div>Ім'я:</div>
            </div>
            <div class="col">
                <div>{{user.firstName}}</div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <div>Прізвище:</div>
            </div>
            <div class="col">
                <div>{{user.lastName}}</div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <div>Емейл:</div>
            </div>
            <div class="col">
                <div>{{user.email}}</div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <div>Вік:</div>
            </div>
            <div class="col">
                <div>{{age}}</div>
            </div>
        </div>

        <div *ngIf="user?.position" class="row my-3">
            <div class="col">
                <div>Позиція:</div>
            </div>
            <div class="col">
                <div>{{user.position}}</div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <div>Баланс:</div>
            </div>
            <div class="col">
                <div>
                    {{user.balance}} грн. 
                    <button type="button" class="btn btn-primary">Вивести гроші</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>Вебінари:</p>
    <div class="d-flex flex-column" *ngFor="let item of user.webinars">
        <div class="d-flex justify-content-between">
            <div><a class="link-primary" (click)="goToWebinar(item.id)">{{item.name}}</a></div>
            <div [class.text-success]="!isAlreadyPassed(item.enrollDeadline)" [class.text-danger]="isAlreadyPassed(item.enrollDeadline)">{{item.enrollDeadline | date : short}}</div>
        </div>
    </div>

    <div class="form-group row d-flex flex-row-reverse mt-5 mr-2">
        <button type="submit" (click)="logOut()" class="btn btn-primary">Вийти</button>
      </div>
</div>